<!DOCTYPE html>
<html lang="en">
<head><!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet"></head>

<!-- Morris Charts CSS -->
<link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <body>
    <!-- Graph test -->

            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart
                            <div class="pull-right">
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>

                        </div>

                    </div>
                    </div>
</div>
            <!-- jQuery -->
            <script src="lib/jquery/dist/jquery.min.js"></script>

            <!-- Morris Charts JavaScript -->
            <script src="lib/raphael/raphael-min.js"></script>
            <script src="lib/morrisjs/morris.min.js"></script>
<script src="js/home/analytics-controller.js"></script>
            <!-- Custom Theme JavaScript -->
            <script src="js/sb-admin-2.js"></script>

</body>

</html>
